.frame {
  border: 1px solid #e5e3e0;
  border-radius: 15px;
  width: 76.4vw;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}
.frame .choice-field {
  width: 70%;
}
.frame .result-field {
  background-color: rgba(231, 227, 225, 0.5);
  border-top-right-radius: 15px;
  width: 30%;
}
